<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nucollab.backend.entity.OAuth2User">
    <select id="getOAuth2UserByProviderAndProviderUserId"
            resultType="com.nucollab.backend.entity.OAuth2User">
        SELECT
        *
        FROM
        oauth2_user_tb
        WHERE
        provider = #{provider}
        AND provider_user_id = #{providerUserId}
    </select>

    <insert id="addOAuth2User"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO oauth2_user_tb
        (id, user_id, provider, provider_user_id, created_at, updated_at)
        VALUES
        (0, #{userId}, #{provider}, #{providerUserId}, NOW(), NULL)
    </insert>

</mapper>